@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 50px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
}

div {
  border-radius: 20px;
  height: 400px;
  width: 500px;
  text-align: center;
  padding: 20px;
  box-shadow: 2px 2px 10px;
}

.div1 {
  background-color: rgb(252, 226, 226);
}

.div2 {
  background-color: rgb(183, 248, 223);
}

.div3 {
  background-color: rgb(183, 219, 248);
  height: 500px;
}

button a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 5px;
}

button:hover {
  background-color: rgb(240, 179, 89);
}

button {
  border-radius: 10px;
  background-color: white;
  margin: 3px;
  padding: 3px;
}

input {
  font-size: 18px;
  margin: 3px;
  border-radius: 10px;
  border: 1px solid rgb(19, 18, 18);
  padding: 2px 8px;
}

input:hover {
  background-color: rgb(240, 179, 89);
}

label {
  font-size: 18px;
  font-weight: 600;
  margin: 3px;
}